* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background: #ecf0f3;
}

.main {
  width: 430px;
  padding: 40px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f4;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.logo {
  background: url('https://i.imgur.com/lzu39c8.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 5px 5px 15px #cbced1, 5px 5px 15px #cbced1, -13px -13px 20px #ffffff
}

.title {
  text-align: center;
  font-size: 28px;
  padding-top: 20px;
  letter-spacing: 0.5px;
}

.subtitle {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}

.buttons {
  width: 100%;
  padding: 30px 5px 5px 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fields {
  text-align: left;
}

.consoleTitle {
  text-align: center;
}

button {
  margin-bottom: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: goldenrod;
  text-align: center;
  background: #ecf0f3;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
  display: block;
}

button span {
  background-color: darkgoldenrod;
  color: transparent;
  text-shadow: 0 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

button:hover span {
  color: goldenrod;
  text-shadow: none;
  filter: drop-shadow(0px 0px 20px goldenrod) drop-shadow(0px 0px 5px goldenrod);
  transition: all 200ms;
}

#hard-reset span {
  background-color: darkred;
}

#hard-reset:hover span {
  color: darkred;
  text-shadow: none;
  filter: drop-shadow(0px 0px 20px darkred) drop-shadow(0px 0px 5px darkred);
  transition: all 200ms;
}

#save-world span {
  background-color: darkgreen;
}

#save-world:hover span {
  color: darkgreen;
  text-shadow: none;
  filter: drop-shadow(0px 0px 20px darkgreen) drop-shadow(0px 0px 5px darkgreen);
  transition: all 200ms;
}

#console-button span {
  background-color: darkblue;
}

#console-button:hover span {
  color: darkblue;
  text-shadow: none;
  filter: drop-shadow(0px 0px 20px darkblue) drop-shadow(0px 0px 5px darkblue);
  transition: all 200ms;
}

#close {
  cursor: pointer;
  font-size: 24px;
}

#command-status {
  margin: 0 auto;
  text-align: center;
}

#submit {
  font-size: 15px;
  color: darkblue;
  height: auto;
  width: 100px;
  margin-right: 20px;
}

#clear-console{
  font-size: 15px;
  color: darkred;
  height: auto;
  width: 100px;
}

#console {
  width: 100%;
  height: 300px;
  border: none;
  padding: 15px 0px 0px 15px;
  font-size: 12px;
  position: relative;
  overflow: auto;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: inset 3px 3px 8px 2px #cbced1, inset -3px -3px 8px 2px #ffffff;
}

#command-line {
  width: 100%;
  border: none;
  height: 30px;
  padding-left: 10px;
  font-size: 12px;
  position: relative;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px 2px #cbced1, inset -2px -2px 5px 2px #ffffff;
}

#command-line:focus{
  outline: none;
}

.flex-parent {
  display: flex;
  margin-top: 5px;
}

.jc-center {
  justify-content: center;
}

@keyframes fade {
  from {
    opacity: 0
  }
  to {
    opacity: 100%
  }
}

.anim {
  animation: fade 1s 1;
}
